# .dotfile init files environment specific
.classpath
.project
.settings/*

*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# Compiled Class Files
*.class

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# log files
.gradle/*.log

# build bits
build/*
out/*
# idea files
.idea/*
*.iml
*.ipr
*.iws

# eclipse files
eclipse/*

# gradle dotfiles
.gradle/*


